@use "../variables" as *;

@media (max-width: 1168px) {
    header {

        ul {
            width: 60%;
        }

        .box-shadow {
            width: 40vw;
            height: 50vh;
        }

        img {
            object-position: 65%;
            width: 90%;
        }
    }

    .index-header {
        height: 55vh;

        h1 {
            top: 90px;
            background-color: $quinary;
            padding: 10px 5px 30px 90px;
        }

        .text-container {
            width: 100%;
            justify-content: flex-start;
        }

    }

    .blog-header {

        .text-container {
            width: 100%;
            justify-content: flex-start;
        }

        h1 {
            bottom: 60px;
            left: 0px;
            background-color: $quinary;
            padding: 0 20px 5px 200px;
        }
    }

    .contact-header {
        .text-container {
            width: 100%;
            justify-content: flex-start;
            align-items: center;
        }

        h1 {
            bottom: 50px;
            left: 0px;
            background-color: rgb(76, 238, 167, 0.8);
            padding: 0 20px 5px 150px;
            margin: 0;
        }
    }
}

@media (max-width: 753px) {

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: $primary;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 20;

        li {
            margin: 16px 0;
        }

        a {
            color: $quaternary;
        }

    }

    .nav-menu.active {
        left: 0;
    }

    .hamburger {
        display: block;
        position: fixed;
        top: 10px;
        right: 20px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(16px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .index-header {
        background-position: 3%;

        h1 {
            font-size: 2.5rem;
            top: 80px;
            background-color: rgb(76, 238, 167, 0.8);
            padding: 5px 5px 10px 15vw;
        }

    }

    .blog-header {

        h1 {
            bottom: 60px;
            left: 0px;
            background-color: $quinary;
            padding: 0 20px 5px 150px;
        }
    }

    .contact-header {
        h1 {
            bottom: -30px;
            left: 0px;
            background-color: rgb(76, 238, 167, 0.8);
            padding: 0;
            margin: 0;
        }
    }
}