@use "./variables" as *;

html {
    font-size: 125%;
}

.wrapper {
    margin: 0 auto;
    width: 80%;
    max-width: 1080px;
}

.img-container {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

h1,
h2,
h3,
h4,
button,
nav a {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    color: $primary;
}

h1 {
    font-size: 3rem;
    line-height: 3.2rem;
    text-align: center;
}

h2 {
    font-size: 2.1rem;
    letter-spacing: 1px;
}

h3 {
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 0 0 10px 0;
}

h4 {
    font-size: 1.3rem;
    letter-spacing: 1.1px;
}

a {
    text-decoration: none;
}

nav a {
    font-size: 0.8rem;
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: 1px;
}

p,
h5 {
    font-size: 0.8rem;
}

p,
h5,
.text-container a {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6rem;
    color: $primary;
}

li {
    list-style: none;
}

button {
    text-align: center;
    line-height: 1.6rem;
    letter-spacing: 1px;
    background-color: $quinary;
    border: none;
    padding: 8px 15px;

    &:hover,
    &:focus {
        background-color: $quaternary;
        transition: 0.3s;
    }
}