@use "./variables" as *;

section {
    h2 {
        margin: 0;
    }

    .text-container {
        display: flex;
        flex-direction: column;
    }
}

.about {
    background-color: $tertiary;
    padding: 200px 0;

    .text-container {
        height: 30vh;
        width: 70vw;
        align-items: center;
        justify-content: space-evenly;
    }
}

.featured-posts {
    background-color: $secondary;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .img-container,
    .text-container {
        flex-basis: 50%;
    }

    .text-container {
        padding: 4vw 8vw;
        justify-content: center;
    }

    .text-container:first-of-type {
        button {
            align-self: flex-start;
        }
    }

    .text-container:nth-of-type(2) {
        align-items: flex-end;

        p {
            text-align: right;
        }
    }

    img {
        width: 85%;
        height: 100%;
    }

    .img-container:nth-of-type(2) {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .one {
        box-shadow: 41px 34px 0px 0px $quaternary;
        position: relative;
        top: -34px;
    }

    .two {
        box-shadow: -41px 34px 0px 0px $quaternary;
        position: relative;
        bottom: -34px;
    }
}

.links {
    background-color: $tertiary;
    padding: 10vw 0 4vw 0;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .img-container,
    .text-container {
        flex-basis: calc(50% - 10px);
    }

    .icon-container {
        background-color: $quinary;
        border-radius: 50%;
        width: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s;
    }

    a {
        display: flex;

        h3 {
            padding-bottom: 5px;
            margin-left: 15px;
            position: relative;
            border-bottom: 2px solid $tertiary;
            top: 8px;
            transition: 0.3s;
        }
    }

    p {
        margin-left: 58px;
    }

    a:hover {
        .icon-container {
            background-color: $quaternary;
        }

        h3 {
            border-bottom: 2px solid $quinary;
        }
    }

}

.map-divider {
    background-image: url('../assets/banner.jpg');
    background-size: cover;
    width: 100vw;
    height: 45vh;
}

.monthly-feature {
    background-color: $tertiary;
    padding: 85px 0 70px 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .text-container {
        flex-basis: 66%;
    }

    .img-container {
        flex-basis: 25%;
    }

    img {
        width: 100%;
        height: 95%;
        box-shadow: 30px 30px 0px 0px $quaternary;
    }

    button {
        margin-top: 20px;
        align-self: flex-start;
    }
}