@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1080px;
}

.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
button,
nav a {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  color: #2C2C2C;
}

h1 {
  font-size: 3rem;
  line-height: 3.2rem;
  text-align: center;
}

h2 {
  font-size: 1.7rem;
  letter-spacing: 1px;
}

h3 {
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin: 0 0 10px 0;
}

h4 {
  font-size: 1.1rem;
  letter-spacing: 1.1px;
}

a {
  text-decoration: none;
}

nav a {
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 1px;
}

p,
h5 {
  font-size: 0.7rem;
}

p,
h5,
.text-container a {
  font-family: "Roboto", sans-serif;
  line-height: 1.4rem;
  color: #2C2C2C;
  font-weight: normal;
}

li {
  list-style: none;
}

button {
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 1px;
  background-color: #4CEEA7;
  border: none;
  padding: 8px 15px;
}
button:hover, button:focus {
  background-color: #FDFA69;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer {
  background-color: #2C2C2C;
}
footer p {
  color: #FAFAFA;
  text-align: center;
  padding: 5px 0;
  margin: 0;
}

header {
  background-size: cover;
  position: relative;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header li {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
header a {
  padding: 4px 2px;
}
header a:hover,
header a:focus {
  border-bottom: 2px solid #4CEEA7;
}
header .text-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header h1 {
  position: relative;
  z-index: 10;
}
header .box-shadow {
  background-color: #FDFA69;
  width: 45vw;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  bottom: -150px;
}
header img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 93%;
  height: 85%;
}

.index-header {
  background-image: url("../assets/header-image.jpg");
  background-position: left;
  height: 70vh;
}
.index-header .text-container {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.index-header h1 {
  font-size: 6rem;
  bottom: 65px;
}

.blog-header {
  background-image: url("../assets/blog-header.jpg");
  background-position: 80%;
  height: 60vh;
}
.blog-header .text-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog-header h1 {
  bottom: 95px;
  left: -35px;
}

.contact-header {
  background-image: url("../assets/contact-header.jpg");
  height: 60vh;
}
.contact-header .text-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-header h1 {
  bottom: 110px;
  left: 50px;
}

section h2 {
  margin: 0;
}
section .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about {
  background-color: #EFFDF3;
  padding: 200px 0;
}
.about .text-container {
  height: 30vh;
  width: 70vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.featured-posts {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.featured-posts .img-container,
.featured-posts .text-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.featured-posts .text-container {
  padding: 4vw 8vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.featured-posts .text-container:first-of-type button {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.featured-posts .text-container:nth-of-type(2) {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.featured-posts .text-container:nth-of-type(2) p {
  text-align: right;
}
.featured-posts img {
  width: 85%;
  height: 100%;
}
.featured-posts .img-container:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.featured-posts .one {
  -webkit-box-shadow: 41px 34px 0px 0px #FDFA69;
          box-shadow: 41px 34px 0px 0px #FDFA69;
  position: relative;
  top: -34px;
}
.featured-posts .two {
  -webkit-box-shadow: -41px 34px 0px 0px #FDFA69;
          box-shadow: -41px 34px 0px 0px #FDFA69;
  position: relative;
  bottom: -34px;
}

.links {
  background-color: #EFFDF3;
  padding: 10vw 0 4vw 0;
}
.links .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.links .img-container,
.links .text-container {
  -ms-flex-preferred-size: calc(50% - 10px);
      flex-basis: calc(50% - 10px);
}
.links .icon-container {
  background-color: #4CEEA7;
  border-radius: 50%;
  width: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.links a h3 {
  padding-bottom: 5px;
  margin-left: 15px;
  position: relative;
  border-bottom: 2px solid #EFFDF3;
  top: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.links p {
  margin-left: 58px;
}
.links a:hover .icon-container {
  background-color: #FDFA69;
}
.links a:hover h3 {
  border-bottom: 2px solid #4CEEA7;
}

.map-divider {
  background-image: url("../assets/banner.jpg");
  background-size: cover;
  width: 100vw;
  height: 45vh;
}

.monthly-feature {
  background-color: #EFFDF3;
  padding: 85px 0 70px 0;
}
.monthly-feature .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.monthly-feature .text-container {
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
}
.monthly-feature .img-container {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.monthly-feature img {
  width: 100%;
  height: 95%;
  -webkit-box-shadow: 30px 30px 0px 0px #FDFA69;
          box-shadow: 30px 30px 0px 0px #FDFA69;
}
.monthly-feature button {
  margin-top: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.gallery {
  background-color: #FAFAFA;
}
.gallery .wrapper {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .img-container {
  -ms-flex-preferred-size: calc(33% - 20px);
      flex-basis: calc(33% - 20px);
}

.blog main {
  background-color: #EFFDF3;
}
.blog main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar {
  background-color: #FAFAFA;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  position: relative;
  top: 120px;
  left: 10px;
}
.sidebar span a {
  font-weight: bold;
  font-style: italic;
  border-bottom: 1px solid #FAFAFA;
  -webkit-transform: 0.2s;
          transform: 0.2s;
}
.sidebar span a:hover, .sidebar span a:focus {
  border-bottom: 1px solid #4CEEA7;
}
.sidebar h4 {
  padding-left: 20px;
}
.sidebar p,
.sidebar ul {
  padding-left: 25px;
  margin-right: 40px;
}
.sidebar ul {
  font-size: 0.7rem;
}
.sidebar ul li {
  border-bottom: 1px solid #FAFAFA;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.sidebar ul li::before {
  content: "•";
  color: #4CEEA7;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}
.sidebar ul li:hover a, .sidebar ul li:focus a {
  border-bottom: 1px solid #4CEEA7;
}

.main-post {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  position: relative;
}
.main-post article {
  margin-top: 260px;
  padding-top: 8vh;
  padding-left: 40px;
  border-left: 5px solid #FDFA69;
  border-bottom: 5px solid #FDFA69;
  border-top: 5px solid #FDFA69;
}
.main-post article p {
  margin-left: 5px;
}
.main-post h5 {
  margin-top: 5px;
  margin-left: 5px;
}

.dandelions {
  position: absolute;
  width: 115%;
  top: -28vh;
  right: -9.9vw;
}
.dandelions img {
  -webkit-box-shadow: -30px 30px 0px 0px #FDFA69;
          box-shadow: -30px 30px 0px 0px #FDFA69;
}

.magic-lens {
  position: relative;
  width: 140%;
  top: -15px;
  left: -145px;
}

.posts {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.posts h3 {
  margin: 30px 0 50px 0;
}
.posts .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.posts .comment .img-container {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  width: 15%;
  height: 15%;
}
.posts .comment .text-container {
  -ms-flex-preferred-size: 86%;
      flex-basis: 86%;
  position: relative;
  top: -6px;
}
.posts .comment .text-container p {
  margin-top: 0;
}
.posts .comment h5 {
  margin: 0;
}